<?xml version="1.0" encoding="UTF-8"?>
<plugin>
      <extension point="com.change_vision.astah.ui.view">
      <view
            id="ai.engineering.internal.MLCanvasView"
            type="extraTab"
            class="ai.engineering.MLCanvasView" />
      <view
            id="ai.engineering.internal.AIProjectCanvasView"
            type="extraTab"
            class="ai.engineering.AIProjectCanvasView" />
      <view
            id="ai.engineering.internal.ProcessGuideView"
            type="extraTab"
            class="ai.engineering.ProcessGuideView" />
      <view
            id="ai.engineering.internal.PipelinePerformanceView"
            type="extraTab"
            class="ai.engineering.PipelinePerformanceView" />
      <view
            id="ai.engineering.internal.MonitoringSummaryView"
            type="extraTab"
            class="ai.engineering.MonitoringSummaryView" />
      <view
            id="ai.engineering.internal.RepairConfigurationView"
            type="extraTab"
            class="ai.engineering.RepairConfigurationView" />
      <view
            id="ai.engineering.internal.RepairConfigurationSummaryView"
            type="extraTab"
            class="ai.engineering.RepairConfigurationSummaryView" />
      <view
              id="jp.ac.waseda.cs.washi.www.internal.PatternTransformationView"
              type="extraTab"
              class="jp.ac.waseda.cs.washi.www.internal.extraTab.InputPatternValuesTab" />
      <view
              id="jp.ac.waseda.cs.washi.www.internal.PatternRecommendationView"
              type="extraTab"
              class="jp.ac.waseda.cs.washi.www.internal.extraTab.PatternRecommendTab" />
   </extension>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.example.helloworld.actionSet">
         <menu
               id="eai"
               label="eAI Framework"
               path="tool/eAI Framework">
         </menu>
         <action
               label="Activate Consistency Checker"
               icon="icons/sample.gif"
               class="ai.engineering.RelationCheckerAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.RelationCheckerAction">
         </action>
         <action
               label="Train New Version of ML Model"
               icon="icons/sample.gif"
               class="ai.engineering.ModelTrainer"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.ModelTrainer">
         </action>
         <action
               label="Repair ML Model"
               icon="icons/sample.gif"
               class="ai.engineering.RepairModelAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.RepairModelAction">
         </action>
         <action
               label="Fetch ML Performance Data"
               icon="icons/sample.gif"
               class="ai.engineering.PerformanceCheckerAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.PerformanceCheckerAction">
         </action>
         <action
               label="Propagate Test Evidence"
               icon="icons/sample.gif"
               class="ai.engineering.TestEvidenceChecker"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.TestEvidenceChecker">
         </action>
     </actionSet>
   </extension>
</plugin>
