<?xml version="1.0" encoding="UTF-8"?>
<plugin>
      <extension point="com.change_vision.astah.ui.view">
      <view
            id="ai.engineering.internal.MLCanvasView"
            type="extraTab"
            class="ai.engineering.canvas.mlcanvas.MLCanvasView" />
      <view
            id="ai.engineering.internal.AIProjectCanvasView"
            type="extraTab"
            class="ai.engineering.canvas.aiprojectcanvas.AIProjectCanvasView" />
      <view
            id="ai.engineering.internal.ProcessGuideView"
            type="extraTab"
            class="ai.engineering.processguide.ProcessGuideView" />
      <view
            id="ai.engineering.internal.PipelinePerformanceView"
            type="extraTab"
            class="ai.engineering.pipeline.monitortool.PipelinePerformanceView" />
      <view
            id="ai.engineering.internal.MonitoringSummaryView"
            type="extraTab"
            class="ai.engineering.pipeline.monitortool.MonitoringSummaryView" />
      <view
            id="ai.engineering.internal.RepairConfigurationView"
            type="extraTab"
            class="ai.engineering.pipeline.repairtool.RepairConfigurationView" />
      <view
            id="ai.engineering.internal.RepairConfigurationSummaryView"
            type="extraTab"
            class="ai.engineering.pipeline.repairtool.RepairConfigurationSummaryView" />
      <view
            id="ai.engineering.internal.SecurityView"
            type="extraTab"
            class="ai.engineering.security.SecurityView" />
   </extension>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.example.helloworld.actionSet">
         <menu
               id="eai"
               label="eAI Framework"
               path="tool/eAI Framework">
         </menu>
         <action
               label="Activate Consistency Checker"
               icon="icons/sample.gif"
               class="ai.engineering.relationchecker.RelationCheckerAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.RelationCheckerAction">
         </action>
         <action
               label="Train New Version of ML Model"
               icon="icons/sample.gif"
               class="ai.engineering.pipeline.modeltrainer.ModelTrainer"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.ModelTrainer">
         </action>
         <action
               label="Repair ML Model"
               icon="icons/sample.gif"
               class="ai.engineering.pipeline.repairtool.RepairModelAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.RepairModelAction">
         </action>
         <action
               label="Fetch ML Performance Data"
               icon="icons/sample.gif"
               class="ai.engineering.pipeline.monitortool.PerformanceCheckerAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/eai/"
               id="ai.engineering.PerformanceCheckerAction">
         </action>
     </actionSet>
   </extension>
</plugin>
